<%# solidus_auth_devise or a custom auth system can replace this partial %>
<% if spree_current_user %>
  <li>
    <%= link_to Spree.t(:my_account), spree.account_path %>
  </li>
  <li>
    <%= link_to "Logout", destroy_spree_user_session_path, method: :delete %>
  </li>
<% else %>
  <li id="link-to-login">
    <%= link_to Spree.t(:login), spree.login_path %>
  </li>
<% end %>
